body {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    background-color: #e0dbdf;
    color: #201d28;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

a {
    text-decoration: none;
    color: #201d28;
}

header h1 a {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #163665;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}

h2 {
    color: #576973;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    color: #576973;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: #9bcbe1;
}