{% load static %}
<html>

<head>
    <title>Maz Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">My blog</a></h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'post_new' %}">+ New Blog Post</a>
        </div>
    </header>
    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>